<%= form_for([:admin, @shortpost]) do |f| %>
  <% if @shortpost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shortpost.errors.count, "error") %> prohibited this shortpost from being saved:</h2>

      <ul>
      <% @shortpost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
