<h1>Shortposts</h1>

<table class="table table-striped datatable">
  <thead>
    <tr>
      <th>Body</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @shortposts.each do |shortpost| %>
      <tr>
        <td><%= shortpost.body.truncate(120) %></td>
        <td><%= link_to 'Show', shortpost %> 
            <%= link_to 'Edit', edit_admin_shortpost_path(shortpost) %>
            <%= link_to 'Destroy', admin_shortpost_path(shortpost), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shortpost', new_admin_shortpost_path %>
