<div id="about">
	<% if I18n.locale == :hu %>
		<h1>Rólam</h1>
		<h2>Az oldalról</h2>
		<h3>Infók</h3>
		<p>Azért hoztam létre az oldalt, hogy dokumentáljam a tanulmányaimat, fejlesszem az írásomat angolul és magyarul egyaránt, illetve hogy gyakoroljak és fejlesszem a programozási képességeimet.</p>
		<p>A cikkek elsődlegesen nem tutorialnak készültek. 
			<span class="warning">Minden kódot a saját felelősségedre használj.</span> Minden javaslatot, javítást vagy esetleg kérést szívesen veszek.</p> 
			<p>De tényleg, javíts ki bármikor, azért vagyok itt, hogy tanuljak.</p>
		
		<h3>Technikai infók</h3>
		<p>A blog <strong>Ruby on Rails-el készült</strong> és <strong>Sass-t</strong> és <strong>Coffeescriptet</strong> használtam a frontenden. Itt a használt gemek listája:</p>
		<script src="https://gist.github.com/bedafoltyn/b9395baddb9c4a6aeb6d.js"></script>

		<h2>Rólam</h2>
		<br>
		<div class="col-md-8">
			<p>Frontend fejlesztő vagyok a karrierem legeslegelején. Szeretek új technológiákkal foglalkozni, kísérletezni velük és ezekkel létrehozni menő programokat. Szeretném fejleszteni a programozási képességemet backend és frontend részen egyaránt, programokat és weboldalakat készíteni, mindent amitől több leszek.</p> 
			<p>Az utazásomat a Ruby on Rails-el kezdtem, ami sajnos nem túl elterjedt itt, ahol élek, de ennek ellenére rengeteg mindenben segített, hogy megértsem a modern webfejlesztés alapjait és új technológiákat ismerhessek meg.</p> 
			<p>Nem lettem Rails fejlesztő, de nem is nagyon bánom, szeretem amit most csinálok és a Rails megmarad hobbinak továbbra is.</p>
		</div>
		<div class="col-md-4">
			<figure><img class="responsive" src="../../../../assets/logo.png" height="200"> </figure>
			<figcaption>Egy nagyon pontos kép rólam álruhában.</figcaption>
		</div>
	<% else %>	
		<h1>About</h1>
		
		<h2>The site</h2>
		<h3>Informations</h3>
		<p>I created this blog to document my studies, improve my writing skills both in English and in Hungarian, to practice and improve my programming skills.</p>
		<p>The posts are not intended to be tutorials. 
			<span class="warning">Use my code snippets on your own responsibility.</span> Suggestions, corrections, requests are welcomed.</p> 
			<p>But really, correct me anytime. I’m here to study.</p>
		
		<h3>Technical informations</h3>
		<p>The blog was built with <strong>Ruby on Rails</strong> and with <strong>Sass</strong> and <strong>Coffeescript</strong> on the front-end. Here are the gems I’ve used:</p>
		<script src="https://gist.github.com/bedafoltyn/b9395baddb9c4a6aeb6d.js"></script>

		<h2>Me</h2>
		<br>
		<div class="col-md-8">
			<p>I’m a junior front-end developer at the very beginning of my career. I’m passionate about learning new technologies, using them and creating something with them. I would like to improve both my frontend and backend programming skills, create programs, web sites, etc. </p>
			<p>I’ve started with Ruby on Rails, unfortunately it isn’t too “popular” in my country but it still helped me a lot to understand modern web developing methods and introduce me to new technologies (like Sass, Coffeescript, Haml, etc).</p> 
			<p>I didn’t become a Rails developer but it’s still my hobby to work with Rails.</p>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-4">
			<figure><img class="responsive" src="../../../../assets/logo.png" height="200"> </figure>
			<figcaption>A very accurate photo of me in disguise.</figcaption>
		</div>
	<% end %>	
</div>
