<div id="coming_soon">
	<% if I18n.locale == :hu %>
		<h1>Hamarosan!</h1>
		<p>Ezen az oldalon arról találhatsz infókt, hogy milyen újdonságok érkeznek az oldalra. Szeretnék legalább egy cikket közzétenni hetente, illetve folyamatosan fejleszteni az oldalt.</p> 
		<p>Három színt fogok használni a különböző állapotokra:</p>
		<ul class="list-inline">
			<li><span class="finished">befejezett</span></li>
			<li><span class="arriving">érkezik</span></li>
			<li><span class="planned">tervezett</span></li>
		</ul>

		<h2>Cikkek</h2>
		<p>Itt találhatsz infókat a közelgő cikkekről, sorozatokról.</p>

		<h3><span class="arriving">Blog készítés Rails-el</span></h3>
		<p>Ebben a sorozatban egy blogot fogunk készíteni, hasonlót ahhoz amit most látsz. Két útvonalon fogunk haladni: a "könnyű" úton mindent gemekkel készítünk el, a "nehéz" úton pedig magunk írjuk meg a kódot.</p>

		<!--MOBILE-->
		<ul class="list-unstyled posts-list-mobile">
			<li><span class="finished">
				<a href="http://foltyn.hu/hu/posts/creating-a-blog-with-rails">Alap blog app</a>
			</span></li>
			<li><span class="arriving">Admin felület</span></li>
			<li><span class="planned">Admin autentikáció</span></li>
			<li><span class="planned">Alap komment rendszer</span></li>
			<li><span class="planned">Beépített szövegszerkesztő</span></li>
			<li><span class="planned">Keresés</span></li>
			<li><span class="planned">Kategóriák</span></li>
			<li><span class="planned">Archív</span></li>
			<li><span class="planned">Ajánlott cikkek</span></li>
			<li><span class="planned">Nyelv</span></li>
		</ul>

		<ul class="list-inline posts-list">
			<div class="line-10"></div>
			<li class="posts-list-item finished" data-toggle="tooltip" data-placement="bottom" title="Alap blog app" data-container="body">
				<a href="http://foltyn.hu/hu/posts/creating-a-blog-with-rails">1</a>
			</li>
			<li class="posts-list-item arriving" data-toggle="tooltip" data-placement="bottom" title="Admin felület" data-container="body">2</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Admin autentikáció" data-container="body">3</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Alap komment rendszer" data-container="body">4</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Beépített szövegszerkesztő" data-container="body">5</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Keresés" data-container="body">6</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Kategóriák" data-container="body">7</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Archív" data-container="body">8</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Ajánlott cikkek" data-container="body">9</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Nyelv" data-container="body">10</li>
		</ul>


		<h4>A könnyü út</h4>
		
		<!--MOBILE-->
		<ul class="list-unstyled posts-list-mobile">
			<li><span class="planned">Admin felület Rails adminal</span></li>
			<li><span class="planned">Admin autentikáció Devise-al</span></li>
			<li><span class="planned">Alap komment rendszer Disqus-al</span></li>
			<li><span class="planned">Keresés Searchkick-el</span></li>
			<li><span class="planned">Kategóriák acts_as_taggable-el</span></li>
			<li><span class="planned">Ajánlott cikkek Outbrain-el</span></li>
		</ul>

		<ul class="list-inline posts-list">
			<div class="line-6"></div>
			<li class="posts-list-item arriving" data-toggle="tooltip" data-placement="bottom" title="Admin felület Rails adminal" data-container="body">2</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Admin autentikáció Devise-al" data-container="body">3</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Alap komment rendszer Disqus-al" data-container="body">4</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Keresés Searchkick-el" data-container="body">6</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Kategóriák acts_as_taggable-el" data-container="body">7</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Ajánlott cikkek Outbrain-el" data-container="body">9</li>
		</ul>
		<h4>A nehéz út</h4>

		<!--MOBILE-->
		<ul class="list-unstyled posts-list-mobile">
			<li><span class="planned">Admin felület</span></li>
			<li><span class="planned">Admin autentikáció</span></li>
			<li><span class="planned">Alap komment rendszer</span></li>
			<li><span class="planned">Keresés</span></li>
			<li><span class="planned">Kategóriák</span></li>
			<li><span class="planned">Ajánlott cikkek</span></li>
		</ul>

		<ul class="list-inline posts-list">
			<div class="line-6"></div>
			<li class="posts-list-item arriving" data-toggle="tooltip" data-placement="bottom" title="Admin felület" data-container="body">2</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Admin autentikáció" data-container="body">3</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Alap komment rendszer" data-container="body">4</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Keresés" data-container="body">6</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Kategóriák" data-container="body">7</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Ajánlott cikkek" data-container="body">9</li>
		</ul>

		<h3><span class="arriving">Élet Bootstrap nélkül</span></h3>
		<p>Ebben a sorozatban Bootstrap elemeket fogunk készíteni Bootstrap vagy más keretrendszer nélkül, illetve más CSS keretrenszerekkel fogunk foglalkozni.</p>

		<!--MOBILE-->
		<ul class="list-unstyled posts-list-mobile">
			<li><span class="finished">
				<a href="http://foltyn.hu/hu/posts/living-without-bootstrap-1">Élet Bootstrap nélkül bevezető</a>
			</span></li>
			<li><span class="finished"><a href="http://foltyn.hu/hu/posts/living-without-bootstrap-2-accordions"> Accordion</a></span></li>
			<li><span class="arriving">Tabok</span></li>
			<li><span class="arriving">Leugró menü</span></li>
			<li><span class="planned">Zurb</span></li>
			<li><span class="planned">Modal</span></li>
		</ul>

		<ul class="list-inline posts-list">
			<div class="line-6"></div>
			<li class="posts-list-item finished" data-toggle="tooltip" data-placement="bottom" title="Élet Bootstrap nélkül bevezető" data-container="body">
				<a href="http://foltyn.hu/hu/posts/living-without-bootstrap-1">1</a>
			</li>
			<li class="posts-list-item finished" data-toggle="tooltip" data-placement="bottom" title="Accordion" data-container="body"><a href="http://foltyn.hu/hu/posts/living-without-bootstrap-2-accordions">2</a></li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Tabok" data-container="body">3</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Leugró menü" data-container="body">4</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Zurb" data-container="body">5</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Modal" data-container="body">6</li>
		</ul>

		<h3><span class="planned">Egyéb tervezett cikkek</span></h3>
		<h4>Backend keretrendszerek</h4>
		<ul class="list-unstyled">
			<li>Django</li>
			<li>Node.js Express-el</li>
			<li>Sinatra</li>
		</ul>
		<h4>Frontend keretrendszerek</h4>
		<ul class="list-unstyled">
			<li>Angular</li>
			<li>Backbone</li>
			<li>Ember</li>
		</ul>
		<h4>Programozás</h4>
		<ul class="list-unstyled">
			<li>Dart</li>
			<li>R</li>
			<li>Python</li>
		</ul>

		<h2>Funkciók</h2>
		<p>Milyen új funkciókat tervezek/fejlesztek az oldalhoz.</p>
		<h4><span class="planned">Tippek</span></h4>
		<p>Folyamatosan növekvő tipp gyűjtemány különböző eszközökről (Sass, Ruby, stb.)</p>
		<h4><span class="planned">Rövid posztok</span></h4>
		<p>Rövid bejegyzések változatos témákban(hírek, újdonságok, rövid történetek, stb.)</p>
	<% else %>
		<h1>Coming Soon!</h1>
		<p>On this page you can get information about what's coming next on the site. would like to post at least on article every week and improve the site continuosly.</p> 
		<p>I'm going to use three colors to show in wich stage the upcoming articles and features are:</p>
		<ul class="list-inline">
			<li><span class="finished">finished</span></li>
			<li><span class="arriving">arriving</span></li>
			<li><span class="planned">planned</span></li>
		</ul>

		<h2>Articles</h2>
		<p>Here you can find what articles are coming next.</p>

		<h3><span class="arriving">Creating a blog</span></h3>
		<p>In this series we will create a blog similar to this one. There will be two path: the easy - in wich I will work mostly with gems - and the hard - where I try to solve everything without gems.</p>

		<!--MOBILE-->
		<ul class="list-unstyled posts-list-mobile">
			<li><span class="finished">
				<a href="http://foltyn.hu/en/posts/creating-a-blog-with-rails">Basic blog app</a>
			</span></li>
			<li><span class="arriving">Admin interface</span></li>
			<li><span class="planned">Authentication for admin</span></li>
			<li><span class="planned">Basic comment sytem</span></li>
			<li><span class="planned">Built-in text editor</span></li>
			<li><span class="planned">Searching in posts</span></li>
			<li><span class="planned">Tagging posts</span></li>
			<li><span class="planned">Archive list for posts</span></li>
			<li><span class="planned">Listing recommended posts</span></li>
			<li><span class="planned">Internationalizing the app</span></li>
		</ul>

		<ul class="list-inline posts-list">
			<div class="line-10"></div>
			<li class="posts-list-item finished" data-toggle="tooltip" data-placement="bottom" title="Basic blog app" data-container="body">
				<a href="http://foltyn.hu/en/posts/creating-a-blog-with-rails">1</a>
			</li>
			<li class="posts-list-item arriving" data-toggle="tooltip" data-placement="bottom" title="Admin interface" data-container="body">2</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Authentication for admin" data-container="body">3</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Basic comment sytem" data-container="body">4</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Built-in text editor" data-container="body">5</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Searching in posts" data-container="body">6</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Tagging posts" data-container="body">7</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Archive list for posts" data-container="body">8</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Listing recommended posts" data-container="body">9</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Internationalizing the app" data-container="body">10</li>
		</ul>


		<h4>The easy way</h4>
		
		<!--MOBILE-->
		<ul class="list-unstyled posts-list-mobile">
			<li><span class="planned">Admin interface with Rails admin</span></li>
			<li><span class="planned">Authentication for admin with Devise</span></li>
			<li><span class="planned">Basic comment sytem with Disqus</span></li>
			<li><span class="planned">Searching in posts with Searchkick</span></li>
			<li><span class="planned">Tagging posts with acts_as_taggable</span></li>
			<li><span class="planned">Listing recommended posts with Outbrain</span></li>
		</ul>

		<ul class="list-inline posts-list">
			<div class="line-6"></div>
			<li class="posts-list-item arriving" data-toggle="tooltip" data-placement="bottom" title="Admin interface with Rails admin" data-container="body">2</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Authentication for admin with Devise" data-container="body">3</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Basic comment sytem with Disqus" data-container="body">4</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Searching in posts with Searchkick" data-container="body">6</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Tagging posts with acts_as_taggable" data-container="body">7</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Listing recommended posts with Outbrain" data-container="body">9</li>
		</ul>
		<h4>The hard way</h4>

		<!--MOBILE-->
		<ul class="list-unstyled posts-list-mobile">
			<li><span class="planned">Admin interface</span></li>
			<li><span class="planned">Authentication for</span></li>
			<li><span class="planned">Basic comment sytem</span></li>
			<li><span class="planned">Searching in posts</span></li>
			<li><span class="planned">Tagging posts</span></li>
			<li><span class="planned">Listing recommended posts</span></li>
		</ul>

		<ul class="list-inline posts-list">
			<div class="line-6"></div>
			<li class="posts-list-item arriving" data-toggle="tooltip" data-placement="bottom" title="Admin interface" data-container="body">2</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Authentication for admin" data-container="body">3</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Basic comment sytem" data-container="body">4</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Searching in posts" data-container="body">6</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Tagging posts" data-container="body">7</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Listing recommended posts" data-container="body">9</li>
		</ul>

		<h3><span class="arriving">Living without Bootstrap</span></h3>
		<p>In this series we will create Bootstrap elements without Bootstrap and we are going to compare other CSS frameworks to Bootstrap.</p>

		<!--MOBILE-->
		<ul class="list-unstyled posts-list-mobile">
			<li><span class="finished">
				<a href="http://foltyn.hu/en/posts/living-without-bootstrap-1">Living without Bootstrap introduction</a>
			</span></li>
			<li><span class="finished"><a href="http://foltyn.hu/en/posts/living-without-bootstrap-2-accordions">Accordion</a></span></li>
			<li><span class="arriving">Tabs</span></li>
			<li><span class="arriving">Dropdown menu</span></li>
			<li><span class="planned">Zurb</span></li>
			<li><span class="planned">Modal</span></li>
		</ul>

		<ul class="list-inline posts-list">
			<div class="line-6"></div>
			<li class="posts-list-item finished" data-toggle="tooltip" data-placement="bottom" title="Living without Bootstrap introduction" data-container="body">
				<a href="http://foltyn.hu/en/posts/living-without-bootstrap-1">1</a>
			</li>
			<li class="posts-list-item finished" data-toggle="tooltip" data-placement="bottom" title="Accordion" data-container="body"><a href="http://foltyn.hu/en/posts/living-without-bootstrap-2-accordions">2</a></li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Tabs" data-container="body">3</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Dropdown menu" data-container="body">4</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Zurb" data-container="body">5</li>
			<li class="posts-list-item planned" data-toggle="tooltip" data-placement="bottom" title="Modal" data-container="body">6</li>
		</ul>

		<h3><span class="planned">Other planned articles and series</span></h3>
		<h4>Backend frameworks</h4>
		<ul class="list-unstyled">
			<li>Django</li>
			<li>Node.js with Express</li>
			<li>Sinatra</li>
		</ul>
		<h4>Frontend frameworks</h4>
		<ul class="list-unstyled">
			<li>Angular</li>
			<li>Backbone</li>
			<li>Ember</li>
		</ul>
		<h4>Programming</h4>
		<ul class="list-unstyled">
			<li>Dart</li>
			<li>R</li>
			<li></li>
		</ul>

		<h2>Features</h2>
		<p>Here you can find the upcoming features of the site.</p>
		<h4><span class="planned">Tips</span></h4>
		<p>Continuosly growing collection of tips on different subject (like Sass, Ruby, etc.)</p>
		<h4><span class="planned">Shortposts</span></h4>
		<p>Short posts about anything (news, releases, short stories, etc.)</p>
	<% end %>
</div>