<%= form_for([:admin, @post]) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<form role="form">
  <div class="row">
    <div class="field form-group col-xs-6">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: "form-control" %>
      <div class="validation" id="validation-presence"></div>
    </div>
     <div class="field form-group col-xs-6">
      <%= f.label :tag_list, "Tags (separated by commas)" %> 
      <br>
      <%= f.text_field :tag_list, class: "form-control" %>
      <div class="validation" id="validation-presence"></div>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :excerpt %><br>
    <%= f.text_area :excerpt, class: "form-control", rows:"5" %>
    <div class="validation" id="validation-length"></div>
  </div>
  <div class="field form-group">
    <%= f.label :body %><br>
    <%= f.text_area :body, rows: 60, cols: 100  %>
  </div>
  <div class="row">
    <div class="field form-group col-xs-6">
      <%= f.label :created_at %><br>
      <%= f.date_select :created_at, class: "form-control" %>
    </div>
    <div class="field form-group col-xs-6">
      <%= f.label :updated_at %><br>
      <%= f.date_select :updated_at, class: "form-control" %>
    </div>
  </div>
  <div class="actions form-group">
    <%= f.submit %>
  </div>
</form>
<% end %>
