<div id="admin-list">

  <h4>
    <% if author_signed_in? %>
      Logged in as <strong><%= current_author.email %></strong>.
      <%= link_to "Logout", destroy_author_session_path, method: :delete  %>
     <% else %>
      <%= link_to "Login", new_author_session_path %>
    <% end %>
  </h4>

  <h1>Posts</h1>
  <% tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag, admin_tag_path(tag.name), class: css_class %>
  <% end %>

  <table class="table table-striped datatable">
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Created at</th>
        <th>Updated at</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.tag_list.map { |t| link_to t, admin_tag_path(t)}.join(', ').html_safe %></td>
          <td><%= post.created_at.strftime("%Y %m %d") %></td>
          <td><%= post.updated_at.strftime("%Y %m %d") %></td>
          <td><%= link_to 'Show', post %> 
              <%= link_to 'Edit', edit_admin_post_path(post) %> 
              <%= link_to 'Destroy', admin_post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Post', new_admin_post_path %>
  <br>
  <%= render 'admin/shortposts/index' %>
</div>