<main>
	<%= render 'layouts/posts' %>
	<div class="text-center">
		<% if I18n.locale == :hu %>
			<%= will_paginate @posts, renderer: BootstrapPagination::Rails, previous_label: 'Előző', next_label: 'Következő' %>
		<% else %>
			<%= will_paginate @posts, renderer: BootstrapPagination::Rails, previous_label: 'Prev', next_label: 'Next' %>
		<% end %>
	</div>
</main>
<%= render 'layouts/sidebar'%>