<main>
	<div class="post">
		<h1>
		  <%= @post.title %>
		</h1>
		<p>
	  	<span class="glyphicon glyphicon-time"></span> 
	  	<%= @post.created_at.strftime("%Y. %m. %d.") %>
	  </p>
		<p>
			<%= @post.tag_list.map { |tag| link_to tag, tag_path(tag), class: "category-images", id: tag }.join(' ').html_safe %>
		</p>
		<p>
		  <%= raw @post.body %>
		</p>
	</div>
	<div class="recommended-posts">
		<% if I18n.locale == :hu %>
			<h3 class="recommended-title"><span>Ajánlott cikkek</span></h3>
		<% else %>
			<h3 class="recommended-title"><span>Recommended</span></h3>
		<% end %>	
		<% @related_posts.each do |post| %>
			<div class="recommended">
				<h3><%= link_to post.title, post %></h3>
				<p><%= post.excerpt.truncate(200, separator: " ") %></p>
			</div>
		<% end %>
	</div>
	<% if I18n.locale == :hu %>
		<h3>Kommentek</h3>
	<% else %>
		<h3>Comments</h3>
	<% end %>	
	<div class="comments">
	<%= render 'layouts/disqus' %>
	</div>
</main>
<aside class="hide-on-small">
	<% if I18n.locale == :hu %>
		<h3 class="recommended-title"><span>Ajánlott cikkek</span></h3>
	<% else %>
		<h3 class="recommended-title"><span>Recommended</span></h3>
	<% end %>	
	<% @related_posts.each do |post| %>
		<div class="recommended">
			<h3><%= link_to post.title, post %></h3>
			<p><%= post.excerpt.truncate(200, separator: " ") %></p>
		</div>
	<% end %>
</aside>
