@import "bootstrap";

//VARIABLES
$red: #cc4330;
$blue: #1972cc;
$dark-blue: #2c3254;
$light-gray: #F1F1F1;

$text-color: #333333;
$bootstrap-link: #428bca;
//LISTS
$category-images: ruby python programming django dart rails java javascript html-css bootstrap other;

//MIXINS
@mixin image ($pos1, $pos2, $img: sprite) {
	background: url(/assets/#{$img}.png) no-repeat center;
	background-size: 100%;
	background-position: $pos1 $pos2;
}

@mixin transition($type: all, $sec: 0.3s, $ease: ease-in-out) {
	-webkit-transition: $type $sec $ease;
		-moz-transition: $type $sec $ease;
		-o-transition: $type $sec $ease;
		-transition: $type $sec $ease;
}

@mixin border($color: white, $pos: bottom, $style: 3px solid) {
	border-#{$pos}: $style $color;

	@include transition;
}

//DOCUMENT

body {
	background-color: $light-gray;
}

h1, h2, h3, h4 {
		font-family: 'Bitter', serif;
	}

p {
	font-size: 1.3em;
	line-height: 1.3em;
	letter-spacing: 0.5px;	
	font-family: 'Roboto', sans-serif;
}

h2 {
	font-size: 2.4em;
}

a {
	&:hover, &:visited {
			text-decoration: none;
			background: none;
		}
}

//HEADER

header {
	height: 100px;
	a {
		color: white;
		&:hover, &:visited {
			text-decoration: none;
			color: white;
			background: none;
		}
	}
}
.navbar {
	background-color: $dark-blue;
	border-radius: 0;
}
#logo {
	float: left;
	width: 25%;
	
	h1 {
		font-family: 'Special Elite', cursive;
		font-size: 4em;
		line-height: 75px;
		color: white;
		font-weight: bold;
		letter-spacing: 5px;
	}
}
#menu {
	margin-top: 20px;

	float: right;
	li {
		margin-left: 10px;
	}
	h3 {
		font-size: 2em;
	}
}
#search {
	position: relative;
	top: 10px;
	z-index: 200;
	visibility: hidden;
	input[type=text] {
		background: url(search_white.png) no-repeat center;
		background-size: 40px;
		height: 40px;
		width: 40px;
		padding: 5px 10px 5px 32px;
		border: 0;
		font-size: 20px;
		color: transparent;
		cursor: pointer;
		float: right;

		&:hover {
			background: url(search_red.png) no-repeat center;
			background-size: 40px;
		}

		&:focus {
			background: white;
			width: 250px;
			padding-left: 10px;
			color: #000;
			cursor: auto;
			@include transition(width, 0.4s, ease-in);
		}
	}
}

.language {
	position: relative;
	top: 5px;
	vertical-align: initial;
}
//BODY
main {
	width: 75%;
	margin-top: 50px;
	margin-right: 0;
	float: left;
}

.posts {
	margin-bottom: 50px;
	border-bottom: 2px solid $dark-blue;

	&:first-of-type {
		//margin-top: 50px;
	}

	h1 {
		font-family: 'Bitter', serif;
		//border-bottom: 5px solid $dark-blue;
		a, a:visited {
			color: $dark-blue;
			&:hover {
				color: $red;
				text-decoration: none;
			}
		}
	}

	&:last-of-type {
		margin-bottom: 100px;
	}

	a {
		&:hover {
			text-decoration: underline;
		}
		&:visited {
			color: $bootstrap-link;
		}	
	}
}

aside {
	width: 24%;
	float: right;
	border-left: 5px solid $dark-blue;
	margin-top: -6px;
	h3 {
		margin: 50px 0 20px;
		&:first-of-type {
			margin-top: 80px;
		}
	}
	span {
		-webkit-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.75);
		-moz-box-shadow:    2px 2px 2px 0px rgba(50, 50, 50, 0.75);
		box-shadow:         2px 2px 2px 0px rgba(50, 50, 50, 0.75);

		padding: 1px 5px 1px 20px;
		margin-left: -20px;
		background-color: $dark-blue;
		color: white;
	}

	a {
		font-weight: bold;
		&:visited {
			color: $bootstrap-link;
			text-decoration: underline;
		}
	}
}

#tags {

	padding-left: 15px;
	//margin-top: 50px;
	li {
		img {
			float: left;
		}
	}
}

#archive {

	padding-left: 15px;
	ul {
	}

	li {
		font-size: 1.2em;
		padding: 5px 0 5px 10px;
		border-bottom: 1px solid $light-gray;
		
		&:last-of-type {
			border-bottom: 0;
			padding-bottom: 0;
		}
	}

	a {
	}
}

.category-images {
	display: inline-block;
	width: 50px;
	height: 50px;
	text-align: left;
	overflow-x: hidden; 
}

@each $category in $category-images {
	##{$category} {
		display: inline-block;
		width: 50px;
		height: 50px;
		text-indent: -9999px;
		background: asset_url("/assets/#{$category}.png") center no-repeat;
		margin-right: -5px;
	}
	#tags ##{$category} {
		margin-right: -4px;
	}
}


#links {
	li {
		margin-left: -15px;
	}
}

.shortposts {
	padding: 5px;
	border-bottom: 2px solid $dark-blue;
}

#shorts {
	margin-bottom: 15px;
	
	a, a:visited {
		background-color: $dark-blue;
		padding: 1px 5px;
		margin-left: -15px;
		
		color: white;

		&:hover {
			padding: 2px 10px;
		}
	}
}
//SHOW PAGE

.post {
	margin-bottom: 50px;
	h1 {
		margin-top: 0;
	}
	p {
		text-align: justify;
	}
}


//RECOMMENDED
.recommended-title {
	margin: 55px 0 50px 15px;
}

.recommended {
	min-height: 250px;
	margin-left: -5px;
	padding-left: 20px;
	h3 {
		margin-left: -15px;
		background-color: $red;
		padding: 3px 10px 4px 25px;
		a {

		margin-top: 10px;
		}
	}
	a, a:visited {
		color: white;
		&:hover {
			text-decoration: underline;
		}
	}
}

.comments {
	padding-top: 20px;
	border-top: 3px solid $blue;
}

.recommended-posts {
	display: none;
}

//ADMIN
#admin-list {
	margin-top: 50px;
	margin-bottom: 50px;

	a, a:visited {
		color: $bootstrap-link;
	}
}

.validation {
	padding-top: 10px;
	
	p {
		font-size: 14px;
	}	
}

#validation-info {

}

//FOOTER
footer {
	width: 100%;
	background-color: $dark-blue;
	color: white;
	ul {
		li {
			padding: 0 20px;
		}
	}

	h3 {
		text-decoration: underline;
	}

	a {
		font-size: 20px;
		color: white;
		&:visited {
			color: white;
		}
		&:hover {
			color: $red;
		}
	}

	#back-to-top {
		position: relative;
		top: 25px;
		height: 50px;
		width: 50px;
		border-radius: 50px;
		background-color: white;
		span {
			font-size: 2.6em;
			padding: 5px 0 0 5px;
			color: $dark-blue;
		}
		&:hover {
			background-color: $red;
		}
	}

	.col-md-3 {
		a {
			padding-left: 10px;
			&:first-of-type {
				padding-left: 0;
			}
		}
	}
}

.pagination {
	li{
		font-size: 18px;
		font-weight: bold;
		a {			
			color: $red;
		}

		.disabled {

		}
	}
}

//BOOTSTRAP 
.container {
	width: 80%;
}

.navbar {
	margin-bottom: 0;
}

//TABS

.nav-tabs {
	font-weight: bold;
	li {
		a {
			color: $blue;
		}
	}
	li.active {
		a, a:active, a:hover, a:visited {
			color: $red;
		}
	}
}

//accordion

.panel-group {
	margin-bottom: -1px;
	margin-left: -15px;

	.panel {
		border-radius: 0;
	}
}

.panel-body {
	padding: 0;

	ul {
		margin: 5px 0;
	}
}

//COMING SOON
#coming_soon, #about {
	width: 1200px;
	margin: 50px auto;
	h1 {
		text-align: center;
		margin-bottom: 50px;
	}
	h3 {
		margin: 50px 0 30px;
	}
	li {
		font-size: 1.3em;
		margin-right: -15px;
	}
	span {
		font-weight: bold;
		&.finished {
			background-color: $blue;
			color: white;
			padding:  1px 5px;
		}
		&.arriving {
			background-color: orange;
			color: white;
			padding: 1px 5px;
		}
		&.planned {
			background-color: $red;
			color: white;
			padding: 1px 5px;
		}
	}

	.line-10 {
		position: relative;
		z-index: 1;
		top: 18px;
		left: 5px;
		width: 500px;
		height: 5px;
		background-color: black;
	}
	.line-6 {
		@extend .line-10;
		width: 280px;
	}
	.posts-list {
		position: relative;
		z-index: 2;
		li {
			position: relative;
			z-index: 2;
			width: 30px;
			height: 30px;
			border-radius: 50px;
			color: white;
			font-weight: bold;
			text-align: center;
			line-height: 30px;
			margin-right: 20px;
			a, a:visited {
				color: white;
			}
			&.finished {
				background-color: $blue;
			}
			&.arriving {
				background-color: orange;
			}
			&.planned {
				background-color: $red;
			}
		}
	}
	.posts-list-mobile {
		display: none;
		li {
			margin-bottom: 8px;
			a, a:visited {
				color: white;
			}
		}
	}
	.warning {
		color: red;
	}
}

@media (max-width: 1300px) {
	.container {
		width: 100%;
	}
}

@media (max-width: 991px) {
	header {
		height: 150px;
		#logo {
			width: 100%;
			height: 50px;
			h1 {
				line-height: 50px;
				img {
					display: none;
				}
			}
		}
		#menu {
			float: left;
			margin-top: 20px;
		}
		#search {
		}
	}
	main {
		width: 100%;
	}

	#search input[type=text]:focus {
		width: 150px;
	}
	aside {
		width: 100%;
		padding: 0;
		border: 0;
		span {
			background-color: transparent;
			box-shadow: none;
			color: $text-color;
		}
		h3 {
			background-color: transparent;
			margin-left: -10px;
			border-bottom: 3px solid $dark-blue;
		}
		#sidebar-menu {
			h3 {
				border-bottom: 0;
				display: inline;
				margin-left: 0;
				margin-right: 10px;
			}		
		}
		#tags, #archive {
		}
	}

	.hide-on-small {
		display: none;
	}

	footer {
		.col-md-3 {
			float: left;
		}
		.col-md-4 {
			display: none;
		}
		.col-md-1 {
			float: right;
		}
	}
	.recommended-posts {
		display: block;
	}
	#coming_soon {
		.posts-list {
			.line-10 {
				width: 400px;
			}
			.line-6 {
				width: 240px;
			}
			li {
				margin-right: 10px;
			}
		}
	}
}

@media (max-width: 500px) {
	header {
		height: 150px;
		
		#logo {
			width: 100%;
		}
		#menu {
			margin-top: 20px;
			width: 100%;
		}
		#search {
			display: none;		
		}
	}
	#coming_soon {
		h1 {
			text-align: left;
		}
		.posts-list {
			display:none;
		}
		.posts-list-mobile {
			display: initial;
		}
	}
}

//ACCORDION
.accordion {
  input {
    display: none;
    &:checked ~ article {
      display: initial;
    }
  }
  article {
    display: none;
  }
}

$light-gray: #F5F5F5;
$gray: #e0e0e0;
 
body {
    font-family: sans-serif;
}
 
.accordion-final {
    margin: 0 auto 5px auto;
    width: 200px;
    &:hover {
    border-color: blue;
    }
    input {
	display: none;
        &:checked ~ article {
	    display: initial;
	}
	&:checked + label {
        background-color: white;
        border-left: 3px solid blue;
	}
    }
    label {
    background-color: $light-gray;
    border: 1px solid $gray;
    cursor: pointer;
    display: block;
    font-weight: bold;
    padding: 10px;
    &:hover {
            background-color: white;
        border-bottom: 1px solid blue;
    }
    }
    article {
        background-color: white;
	display: none;
	ul {
	    background-color: white;
	    border: 1px solid $gray;
	    border-top: 0;
	    list-style: none;
	    margin: 0;
	    padding: 0;
	    width: inherit;
	}
	li {
	    border-bottom: 1px solid $gray;
	    padding: 10px;
	}
  }
}

//TABS
#tabs {
  input {
  display: none;
  &:checked ~ article {
    display: block;
    }
  }
  li {
    display: block;
    float: left;
  }
  label {
    position: relative;
  }
  article {
    display: none;
    position: absolute;
    top: 50px;
    left: 20px;
  }
}

#tabs-final {
  input {
    display: none;
    &:checked ~ article {
      display: block;
    }
    &:checked ~ label {
      background-color: white;
      border-bottom: 1px solid white;
      color: black;
    }
  }
  li {
    display: block;
    float: left;
  }
  label {
    position: relative;
    background-color: #f5f5f5;
    border: 1px solid gray;
    padding: 10px 15px;
    height: 30px;
    width: 100px;
    z-index: 2;
  }
  article {
    position: absolute;
    top: 43px;
    left: 40px;
    border-top: 1px solid gray;
    display: none;
    padding: 5px;
    width: 500px;
  }
}

//ABOUT PICTURE
figure {
    border: 3px solid $red;
    background-color: white;
    width: 100%;
    img {
	margin-left: 100px;
    }
}
figcaption {
    background-color: $red;
    color: white;
    margin-bottom: 100px;
    padding: 10px;
    width: 100%;
}