<div id="archive">
	<% if I18n.locale == :hu %>
		<h3><span>Archív</span></h3>
	<% else %>
		<h3><span>Archive</span></h3>
	<% end %>

	<% @posts_archive.each do |month, posts| %>
		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
		      <h4 class="panel-title">
		      	<a data-toggle="collapse" data-parent="#accordion" href="#<%= month.strftime('%B') %>">
							<%= "#{month.strftime('%B')} (#{posts.count}) "%>
						</a>
					</h4>
				</div>
				<div id="<%= month.strftime('%B')%>" class="panel-collapse collapse">
	      	<div class="panel-body">
	      		<ul class="list-unstyled">
							<% for post in posts %>
								<li><%= link_to post.title, post %></li>
							<% end %>
						</ul>
					</div>
		    </div>		
			</div>
		</div>
	<% end %>

