<div id="tags">
	<% if I18n.locale == :hu %>
		<h3><span>Kategóriák</span></h3>
		<% tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
	    <%= link_to tag, tag_path(tag.name), class: css_class, id: tag.name, title: tag.name %>
		<% end %>
	<% else %>
		<h3><span>Categories</span></h3>
		<% tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
	    <%= link_to tag, tag_path(tag.name), class: css_class, id: tag.name, title: tag.name %>
		<% end %>
	<% end %>
</div>