<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h1>Foltyn</h1>
        <a href="mailto:bedafoltyn@gmail.com" target="_top">
          <%= image_tag("mail.png", height: "30", alt:"email")%>
        </a>
        <a href="https://github.com/bedafoltyn" target="_blank">
          <%= image_tag("github.png", height: "30", alt: "github") %>
        </a>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled">
          <% if I18n.locale == :hu %>
            <li><h3>Kategóriák</h3></li>
            <% tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
            <li>
              <%= link_to tag, tag_path(tag.name), class: css_class %>
            </li>
          <% end %>
          <% else %>
            <li><h3>Categories</h3></li>
            <% tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
            <li>
              <%= link_to tag, tag_path(tag.name), class: css_class %>
            </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled">
          <% if I18n.locale == :hu %>
            <li><h3>Oldalak</h3></li>
            <li><%= link_to "Főoldal", '/' %></li>
            <li><%= link_to "Rólam", page_path("about") %></li>
            <li><%= link_to "Hamarosan...", page_path("coming_soon") %></li>
          <% else %>
            <li><h3>Navigation</h3></li>
            <li><%= link_to "Home", '/' %></li>
            <li><%= link_to "About", page_path("about") %></li>
            <li><%= link_to "Coming soon", page_path("coming_soon") %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-1">
        <div id="back-to-top">
          <span class="glyphicon glyphicon-arrow-up"></span>
        </div>
      </div>

    </div>
  </div>
</footer>