<header class="navbar">
		<div class="container">
			<div id="logo">
				<h1 class="pull-left">
					<% if I18n.locale == :hu %>
						<%= link_to "Foltyn", '/hu', id: "logo" %>
					<% else %>
						<%= link_to "Foltyn", '/en', id: "logo" %>
					<% end %>
				</h1>
			</div>
			<ul class="list-inline" id="menu">
				<% if I18n.locale == :hu %>
					<li>
						<h3><%= link_to "Rólam", page_path("about")%></h3>
					</li>
					<li>
						<h3><%= link_to "Hamarosan...", page_path("coming_soon")%></h3>
					</li>
				<% else %>
					<li>
						<h3><%= link_to "About", page_path("about")%></h3>
					</li>
					<li>
						<h3><%= link_to "Coming soon", page_path("coming_soon")%></h3>
					</li>
				<% end %>
				<li class="language">
					<% if I18n.locale == :hu %>
						<%= link_to(image_tag("en_red.png", height: "40",alt: "English", class: "language"), locale: "en") %>
					<% else %>
						<%= link_to_unless_current(image_tag("hu_red.png", height: "40",alt: "Magyar", class: "language"), locale: "hu") %>
					<% end %>
				</li>	
				<li id="search">
					<%= form_tag posts_path, method: :get do %>
				    <%= text_field_tag :query, params[:query] %>
				  <% end %>
				</li>
			</div>
		</div>
</header>