<% @posts.each do |post| %>
		<div class="posts">
		  <h1><%= link_to post.title, post %></h1>
		  <p>
		  	<span class="glyphicon glyphicon-time"></span> 
		  	<%= post.created_at.strftime("%Y. %m. %d.") %>
		  </p>
		  <p>
		    <%= post.tag_list.map { |tag| link_to tag, tag_path(tag), class: "category-images", id: tag, title: tag }.join(' ').html_safe %>
		  </p>
		  <p><%= post.excerpt %></p>   
		</div>
	<% end %>