<aside>
	<%= render 'layouts/categories' %>
	<%= render 'layouts/archive' %>
	<div id="links">
		<% if I18n.locale == :hu %>
			<h3><span>Linkek</span></h3>
		<% else %>
			<h3><span>Links</span></h3>
		<% end %>
		<ul class="list-unstyled">
			<li><a href="http://theblackc000000de.blogspot.com">Brian's blog</li></a>
			<li><a href="http://rubynewbies.org/">Ruby Newbies</li></a>
			<li><a href="http://theodinproject.com/">The Odin Project</li></a>
			<li><a href="http://javascriptissexy.com/">Javascript.is(Sexy)</li></a>
			<li><a href="http://superherojs.com/">Superhero.js</a></li>
		</ul>
	</div>
</aside>
